

.footer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: #404244;
    margin: 0;
    width: 100%;
    /* gap: 20px; */
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.map{
    display: flex;
}


.footerContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    width: 200px;
    padding: 0;
    margin: 0;
}

.footerContent h3{
    font-size: larger;
    font-weight: bold;
    padding: 10px 0;
    margin: 0;
    font-family: 'Golos Text';
}

.footerContent p{
    padding: 5px 0;
    margin: 0;
    font-family: 'Golos Text';
}
.footerContent a{
    padding: 5px 0;
    margin: 0;
    font-family: 'Golos Text';
    text-decoration: none;
    color: white;
}

.iconLink{
    color: white;
}


