
.mainLogin{
    display: flex;
    justify-content: center;
    background-color: #1E1F20;
}

.formContainerLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px 0px 0px 0px;
    width: 100%;
}
.formContainerLogin h1{
    color: #D3D6D8;
    font-family: 'Golos Text';
    font-size: 1.5rem;
}

.formLogin{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    max-width: 300px;
    width: 80%;
}

.formLogin p{
    display: none;
    color: red;
    margin: 0;
    padding: 0;
}

.formLogin p.show{
    display: flex;
}
.formLogin label{
    color: #D3D6D8;
    font-family: 'Golos Text';
    font-size: 1.25rem;
}
.formLogin input{
    margin-bottom: 20px;
    font-family: 'Golos Text';
    border-radius: 5px;
    font-size: 1.25rem;
    width: 100%;
}

.formLogin button{
    align-self: center;
    margin-bottom: 20px;
    font-family: 'Golos Text';
    background-color: #8C8068;
    border-radius: 10px;
    color: white;
    font-weight: 300;
    font-size: 1.25rem;
    margin: 20px 0 20px 0;
}